@using PracaDyplomowa.Models
@model IEnumerable<Products>
@{ Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Index"; }

<br />

<div class="container">
    <h2 class=" text-center font-weight-bold">Lista Produktów</h2>
    <a asp-action="Create" class="btn btn-success text-center"> Dodaj nowy produkt</a>
    <br />
    <br />
    <div>
        <table class="table table-striped " id="myTable">

            <thead class="thead-dark">

                <tr class="table-info">
                    <th class="text-center">
                        @Html.DisplayNameFor(x => x.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(x => x.Price)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(x => x.Category)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(x => x.IsAvailable)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">@item.Name</td>
                    <td class="text-center">@item.Price zł</td>
                    <td class="text-center">@item.Category</td>
                    <td class="text-center">@item.IsAvailable</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">
                            Edytuj
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                            Usuń
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



